<html>
  <head>

  </head>
  <body>
    <form action="/authorize" method="post">
      <input type="text" id="secret_word" name="secret_word">
      <button type="submit">Submit!</button>
    </form>
  </body>
</html>
