<html>
  <body>
    <img src="https://i.imgur.com/BYBnQp1.png" title="taco time" /></a>
    <table>
      <tr>
        <th>Name</th>
        <th>Taco Count</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.tacos_count %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
